Definite Iterations - For Loops
            As we know already there are two types of iterations namely - definite and indefinite. While loops are indefinite forms of iterations in Python.

            For  Defininte iterations we use the keyword for 
            Below is the standard syntax of a basic for loop in python:
             for <var> in <iterable>:
                    <statement(s)>

                Before we see an example of a for loop in python lets first understand the concept of iteration and iterables.

                Iterables and Iterators
                 in Python , iterable means an object can be used in iteration.

                if an object is iterable. it can be passed to the built-in Python  function iter(), which returns something called an iterator.

                in Python, collections of objects like Dictionaries, Sets, Tuples,Lists etc are all examples of iterables.

In [1]:
a = ['first','second','third','fourth','fifth']
iter_a = iter(a)
iter_a

In [6]:
a = ('first','second','third','fourth','fifth')
iter_a = iter(a)
iter_a

In [7]:
a = {'first','second','third','fourth','fifth'}
iter_a = iter(a)
iter_a

In [9]:
a = {'first':1,'second':2,'third':3,'fourth':4,'fifth':5}
iter_a = iter(a)
iter_a

        An Iterator is essentially a value producer that yields successive values ffrom its associated iterable object. The built-in function next() is used to obtain the next value from its iterator

In [10]:
a = ['first','second','third','fourth','fifth']
iter_a = iter(a)

In [11]:
next(iter_a)

'first'

In [12]:
next(iter_a)

'second'

In [13]:
next(iter_a)

'third'

In [14]:
next(iter_a)

'fourth'

In [15]:
next(iter_a)

'fifth'

Coming Back to the for loop:

     Let's consider a basic for loop

In [17]:
a = ['one','two','three','four','five']

for x in a:
    print(x)

one
two
three
four
five

The following steps take place during this for loop:

        Calls iter() to obtain an iterator for a
        Calls next() repeatedly to obtain each item from the iterator in turn
        Terminates the loop when next() raises the StopIteration Exception

Extra Notes:
        Using the Range() function
        Break and continue in for loops

In [1]:
import math

In [3]:
range(0,5)

range(0, 5)

In [4]:
range(5)

range(0, 5)

In [5]:
x = range(5)
type(x)

range

In [6]:
for i in x:
    print(i)

0
1
2
3
4

In [8]:
a = ['one','two','three','four','five']

In [11]:
a

['one', 'two', 'three', 'four', 'five']

In [12]:
len(a)

5

In [13]:
for i in range(len(a)):
    print(i)

0
1
2
3
4

In [14]:
a = {'first':1,'second':2,'third':3,'fourth':4,'fifth':5}

In [28]:
iter_a = iter(a.values())

In [29]:
iter_a

In [30]:
for i in iter_a:
    print(i)

1
2
3
4
5