Lists are a collection of arbitrary objects, somewhat akin to an array,but more flexible. 
Python Lists are a type of Sequence. Each object in a list is assigned an index as a typical for all sequences. these objects can be manipulated using it respective index.

In [2]:
a = [1,2,3]

In [1]:
a = [1,2,3]
b = [2,3,1]
a is b

False

In [2]:
a = [1,2,3.5,3.6,'strings']

In [3]:
a

[1, 2, 3.5, 3.6, 'strings']

In [4]:
a=[1,2,3,[4,5,6,[7,8,9]]]

In [5]:
a

[1, 2, 3, [4, 5, 6, [7, 8, 9]]]

In [8]:
a[3][3][0]

7

In [9]:
a[1:4]

[2, 3, [4, 5, 6, [7, 8, 9]]]

In [10]:
a[1:4:2]

[2, [4, 5, 6, [7, 8, 9]]]

In [11]:
a=[1,2,3,4,5,6]
a[1:4:2]

[2, 4]

In [12]:
a[-1]

6

In [13]:
a[::-1]

[6, 5, 4, 3, 2, 1]

Concatenation and Replication

In [14]:
a + [7,8,9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
[0] + a

[0, 1, 2, 3, 4, 5, 6]

In [16]:
a*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

Modifying List Values

In [30]:
b = ['eggs','apples','carrots',1,2,3,4,5]

In [31]:
b[0] = 'mango'
b

['mango', 'apples', 'carrots', 1, 2, 3, 4, 5]

In [32]:
b[0:3] = ['wine']
b

['wine', 1, 2, 3, 4, 5]

In [33]:
b[0] = ['beer','ball','club']
b

[['beer', 'ball', 'club'], 1, 2, 3, 4, 5]

In [34]:
b=['wine',1,2,3,4,5]
b[0:1] = ['beer','ball','club']
b

['beer', 'ball', 'club', 1, 2, 3, 4, 5]

Methods

In [35]:
a = [1,2,3]

In [36]:
a.append(4)

In [37]:
a

[1, 2, 3, 4]

In [38]:
a.append([5,6,7]) # appends the iterable as a sigle object
a

[1, 2, 3, 4, [5, 6, 7]]

In [42]:
a.extend([8,9,10]) # appends each object in the iterable individually
a

[1, 2, 4, [5, 6, 7], 8, 9, 10, 8, 9, 10]

In [53]:
a.remove(10) #  need to specify the object itself
a

[1, 4, [5, 6, 7], 8]

In [54]:
a.pop() # removes right most value, outputs the value it popped

8

In [57]:
a.pop(2)

[5, 6, 7]

Tuples are another ordered collection of objects like lists, except for 2 properties where they differ: 
Tuples are immutable
Tuples are defined using parenthesis instead of square brackets

In [58]:
t =(1,2,3)

In [59]:
t[0]

1

In [60]:
t[1:3]

(2, 3)

In [61]:
t[::-1]

(3, 2, 1)

Why use Tuples over list? : Program Execution is much faster.
Another Data type in python called dictionaries, needs an immutable component. Lists can't be used here.
Tuples are more efficient if you want to create an ordered list of objects that doesn't need modifications.

Tuple packing and unpacking

In [62]:
t = (1,2,3,4) # Packing into t

In [63]:
(a,b,c,d) = t # Unpacking into t

In [64]:
a,b,c,d

(1, 2, 3, 4)

In [65]:
(a,b,c,d) = (1,2,3,4)

In [66]:
x,y,z = 5,6,7

In [67]:
x,y,z

(5, 6, 7)